<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BearAnimation/bear1.png</key>
		<dict>
			<key>frame</key>
			<string>{{164, 1}, {161, 156}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {161, 156}}</string>
			<key>sourceSize</key>
			<string>{161, 156}</string>
		</dict>
		<key>BearAnimation/bear2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 322}, {161, 156}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {161, 156}}</string>
			<key>sourceSize</key>
			<string>{161, 156}</string>
		</dict>
		<key>BearAnimation/bear3.png</key>
		<dict>
			<key>frame</key>
			<string>{{322, 159}, {161, 156}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {161, 156}}</string>
			<key>sourceSize</key>
			<string>{161, 156}</string>
		</dict>
		<key>BearAnimation/bear4.png</key>
		<dict>
			<key>frame</key>
			<string>{{327, 1}, {161, 156}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {161, 156}}</string>
			<key>sourceSize</key>
			<string>{161, 156}</string>
		</dict>
		<key>BearAnimation/bear5.png</key>
		<dict>
			<key>frame</key>
			<string>{{159, 159}, {161, 156}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {161, 156}}</string>
			<key>sourceSize</key>
			<string>{161, 156}</string>
		</dict>
		<key>BearAnimation/bear6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {161, 156}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {161, 156}}</string>
			<key>sourceSize</key>
			<string>{161, 156}</string>
		</dict>
		<key>BearAnimation/bear7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 159}, {161, 156}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {161, 156}}</string>
			<key>sourceSize</key>
			<string>{161, 156}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>BearAnimation.png</string>
	</dict>
</dict>
</plist>
